.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  z-index: 2;
}

.headerBackground {
  background: #121414;
  opacity: 0.5;
  height: 5rem;
  width: 100%;
  position: absolute;
}
.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  position: relative;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;

      line-height: 5rem;
      height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        background-color: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: auto;
  }
}
